<div>
  <div class="container card mb-3 mt-2 col-sm-10" id="bord">
    <div class="card-body">

      <b> <span class="fs-4 text-uppercase">{{ greeting }} <img src="../../../assets/images/wave.gif"
            alt="GIF de profil" width="40" height="40" /> </span> <br />
        <span class="fs-4">Je suis <i>Mouhamadou <span class="text-uppercase">DIAMANKA</span> </i> </span>
      </b>
      <ul class="contact">
        <li>
          <a href="https://github.com/{{ githubUsername }}">
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ twitterHandle }}"><i class="bi bi-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://wa.me/{{ whatsappNumber }}"> <i class="bi bi-whatsapp"></i>
          </a>
        </li>
      </ul>
      <p>
        <b class="curseur-effect"> <i class="bi bi-caret-right-fill"></i>{{ displayText }}</b>
      </p>
    </div>
  </div>
  <div class="container mt-2 mb-2">
    <h1 class="text-center"> Competences</h1>
    <h2 class="text-left">Langages</h2>
    <hr>
    <ul>
      <li><a href="https://www.java.com"><img src="../../../assets/images/java.svg" width="80" height="80" /></a></li>
      <li><a href="https://www.typescriptlang.org/"><img src="../../../assets/images/typescript.svg" width="80"
            height="80" /></a></li>
      <li><a href="https://www.python.org"><img src="../../../assets/images/python.svg" width="80" height="80" /></a>
      </li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><img
            src="../../../assets/images/javascript.svg" width="80" height="80" /></a></li>
      <li><a href="https://www.php.net/"><img src="../../../assets/images/php.png" width="80" height="80" /></a></li>
    </ul>
    <h2 class="text-left">Front-end</h2>
    <hr>
    <ul>
      <li><a href="https://angular.io/"><img src="../../../assets/images/angular.png" width="80" height="80" /></a></li>
      <li><a href="https://fr.reactjs.org/"><img src="../../../assets/images/react.svg" width="80" height="80" /></a>
      </li>
      <li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/"><img
            src="../../../assets/images/bootstrap.svg" width="80" height="80" /></a></li>

    </ul>
    <h2 class="text-left">Mobile</h2>
    <hr>
    <ul>
      <li><a href="https://developer.android.com/about?hl=fr"><img src="../../../assets/images/android.png" width="80"
            height="80" /></a></li>
    </ul>
    <h2 class="text-left">Back-end</h2>
    <hr>
    <ul>
      <li><a href="https://nodejs.org/en"><img src="../../../assets/images/nodejs.svg" width="80" height="80" /></a>
      </li>
      <li><a href="https://expressjs.com/fr/"><img src="../../../assets/images/express.svg" width="80"
            height="80" /></a></li>
      <li><a href="https://laravel.com/"><img src="../../../assets/images/laravel.png" width="80" height="80" /></a>
      </li>
      <li><a href="https://spring.io/"><img src="../../../assets/images/spring.svg" width="80" height="80" /></a></li>
    </ul>
    <h1 class="text-center">Formations</h1>
    <hr>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card" id="bord">
          <div class="card-body">
            <h5 class="card-title">2017-2020<i class="bi bi-caret-right-fill"></i>Licence</h5>
            <p class="card-text"><i class="bi bi-award "></i> Développement et Administration d'Applications
              Web <br>
              <span><i class="bi bi-mortarboard"></i> Université Alioune DIOP de Bambey (UADB)</span><br>
              <span><i class="bi bi-geo-alt-fill"></i> SENEGAL</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" id="bord">
          <div class="card-body">
            <h5 class="card-title">2020-2022<i class="bi bi-caret-right-fill"></i>Master</h5>
            <p class="card-text"><i class="bi bi-award"></i> Génie Logiciel <br>
              <span><i class="bi bi-mortarboard"></i> Université Assane SECK de Ziguinchor
                (UASZ)</span><br>
              <span><i class="bi bi-geo-alt-fill"></i> SENEGAL</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-center mt-2">Sujet</h1>
    <hr>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card" id="bord">
          <div class="card-body">
            <h5 class="card-title">Licence</h5>
            <p class="card-text">Mise en place d'une application pour la gestion de la comptabilité et des
              statistiques d'une ferme de vaches laitieres.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" id="bord">
          <div class="card-body">
            <h5 class="card-title">Master</h5>
            <p class="card-text">En cours...</p>
          </div>
        </div>
      </div>
    </div>
  </div>