<div class="hero mt-2">
    <div class="container">
        <div class="row justify-content-between mt-5">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <span class="d-block text-theme">{{ greeting }} <img src="../../../assets/images/wave.gif"
                            alt="GIF de profil" width="40" height="40" /></span>
                    <p class="mb-4"><span class="text-theme"></span></p>
                    <ul class="contact">
                        <li>
                            <a href="https://github.com/{{ githubUsername }}">
                                <i class="bi bi-github bi-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/{{ twitterHandle }}">
                                <i class="bi bi-twitter bi-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/{{ linkdinUsername }}/">
                                <i class="bi bi-linkedin bi-sm"></i>
                            </a>
                        </li>
                    </ul>
                    <p>
                        <b class="curseur-effect"> <i class="bi bi-caret-right-fill"></i>{{ displayText }}</b>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <section class="testimonial-section d-none d-md-block">
                    <div class="large-container">
                        <div class="testimonial-carousel owl-carousel owl-theme">
                        </div>
                    </div>
                </section>
                <div class="hero-img-wrap">
                    <img src="../../../assets/images/developper.svg" class="img-fluid w-75" alt="Image de produits locaux">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-3 mt-2 col-sm-10">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12 col-lg-12 text-end">
                <h2 class="text-left text-theme"> Outils et Technologies<i class="bi bi-caret-left-fill"></i></h2>
                <ul class="mt-2 list-unstyled circle-list">
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Java"><img src="../../../assets/images/java.svg" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/typescript.svg"
                                width="80" height="80" /></li>
                    <li><img src="../../../assets/images/python.svg" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/javascript.svg" width="80" height="80" /></li>
                    <li><img src="../../../assets/images/php.png" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/angular.png" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/react.svg" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/android.png" width="80" height="80" /></li>
                    <li><img src="../../../assets/images/nodejs.svg" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/express.svg" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/laravel.png" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/spring.svg" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/mysql_919836.png" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/postgre_5968342.png"
                                width="80" height="80" /></li>
                    <li><img src="../../../assets/images/docker_919853.png" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/azure-devops-3628645-3029870-1267718336" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/github.png" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/github-actions" width="80"
                                height="80" /></li>
                    <li><img src="../../../assets/images/strapi.webp" class="mt-2" width="80"
                                height="80" /></li>
                </ul>
            </div>
        </div>

        <div class="row mb-5 justify-content-end">
            <div class="col-sm-12 col-md-2 mb-3 mb-md-0">
                <div class="card" id="bord">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-caret-right-fill"></i>Licence</h5>
                        <p class="card-text"><i class="bi bi-award "></i> D2AW<br>
                            <span><i class="bi bi-mortarboard"></i> UADB</span><br>
                            <span><i class="bi bi-geo-alt-fill"></i> SN</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2">
                <div class="card" id="bord">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-caret-right-fill"></i>Master</h5>
                        <p class="card-text"><i class="bi bi-award"></i> GL <br>
                            <span><i class="bi bi-mortarboard"></i> UASZ </span><br>
                            <span><i class="bi bi-geo-alt-fill"></i> SN</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>