<div>
  <div class="container card border-primary mb-3 mt-2 col-sm-10">
    <div class="card-body">
     
      <p>{{ greeting }}, je suis Mouhamadou DIAMANKA</p>
      <ul class="contact">
        <li>
          <a href="https://github.com/{{ githubUsername }}">
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ twitterHandle }}"><i class="bi bi-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://wa.me/{{ whatsappNumber }}"> <i class="bi bi-whatsapp"></i>
          </a>
        </li>
      </ul>
      <p>
        <b class="curseur-effect"> <i class="bi bi-caret-right-fill"></i>{{ displayText }}</b>
      </p>
    </div>
  </div>
  <div class="container mt-2">
    <h1 class="text-center">Competences</h1>
    <h2 class="text-left">Langages</h2>
    <hr>
    <ul>
      <li>JAVA</li>
      <li>Javascript</li>
      <li>Typescript</li>
      <li>PHP</li>
      <li>Python</li>
    </ul>
    <h2 class="text-left">Front-end</h2>
    <hr>
    <ul>
      <li>Angular</li>
      <li>React</li>
      <li>Bootstrap</li>
    </ul>
    <h2 class="text-left">Mobile</h2>
    <hr>
    <ul>
      <li>Android</li>
    </ul>
    <h2 class="text-left">Back-end</h2>
    <hr>
    <ul>
      <li>Nodejs</li>
      <li>Express</li>
      <li>Spring</li>
      <li>Laravel</li>
    </ul>
    <h1 class="text-center">Formations</h1>
    <hr>
    <ul>
      <li>2017-2020: Licence Developpement ett Administration d'Applications Web(D2AW) - Université Alioune DIOP de
        Bambey-SENEGAL </li>
      <li>2020-2022: Master Genie Logiciel - Université Assane SECK de Ziguinchor-SENEGAL </li>
    </ul>
  </div>
</div>