<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0 border-end">
            <span class="curseur-effect">{{ displayText }}</span>
            <h3 class="mt-3 mb-3"><i class="bi bi-caret-right-fill"></i>Me contacter</h3>
            <form>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control border-0 border-bottom mb-4"
                        placeholder="Prenom" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control border-0 border-bottom mb-4" placeholder="Nom"
                                required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control border-0 border-bottom mb-4"
                        placeholder="Adresse email" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control border-0 border-bottom mb-4" placeholder="Objet" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control border-0 border-bottom mb-4" placeholder="Message" rows="5"
                        required></textarea>
                </div>
                <re-captcha #captchaRef siteKey="6LexdzQlAAAAAEBVGx048OJ4UIEqFYHCfX3zPFPe"></re-captcha>
                <button type="submit" class="btn mt-3">Envoyer</button>
            </form>
        </div>
        <div class="col-sm-6 mt-100">
            <div class="container">
                <ul class="contact">
                  <li>
                    <a href="https://github.com/{{ githubUsername }}">
                      <i class="bi bi-github"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/{{ twitterHandle }}"><i class="bi bi-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://wa.me/{{ whatsappNumber }}"> <i class="bi bi-whatsapp"></i>
                    </a>
                  </li>
                </ul>
                <p class="mt-2">Ensemble, réalisons nos projets les plus ambitieux.</p>
                <p class="mt-3"> Il me ferait grand plaisir de vous apporter mon aide pour concrétiser vos projets de développement et contribuer à leur succès.</p>
              </div>
        </div>
    </div>

</div>