form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input, textarea {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2E8B57;
  }
  