<div class="container">
    <h1>Contactez-nous</h1>
    <form>
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required>
        
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required>
        
        <label for="objet">Objet :</label>
        <input type="text" id="objet" name="objet" required>
        
        <label for="message">Message :</label>
        <textarea id="message" name="message" required></textarea>
        
        <input type="submit" value="Envoyer">
      </form>      
  </div>